@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: "Involve-Regular"; 
  src: url("/fonts/Involve-Regular.ttf"); 
} 

@font-face { 
  font-family: "DejaVuSans-ExtraLight"; 
  src: url("/fonts/DejaVuSans-ExtraLight.ttf"); 
} 
