@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 204 100% 27%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 95%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 204 100% 27%;
    --radius: 0.5rem;
    --blue: #00538A;
    --pdf: #303030;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%; 
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

.custom-text-tiny {
  @apply text-xs md:text-xs lg:text-sm font-lower;
}
.custom-text-small {
  @apply text-xs md:text-sm lg:text-base font-lower;
}
.custom-text-small-upper {
  @apply text-xs md:text-sm lg:text-base font-upper;
}

.custom-text-button{
  @apply text-xs md:text-sm lg:text-base font-upper;
}

.custom-text-norm {
  @apply text-sm md:text-base lg:text-lg font-lower;
}

.custom-text-big {
  @apply text-[13px] md:text-base lg:text-lg font-upper;
}

.custom-text-dates {
  @apply text-xl md:text-2xl lg:text-2xl font-lower;
}

.custom-text-section {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-upper;
}

.custom-text-huge {
  @apply text-2xl sm:text-4xl md:text-5xl lg:text-6xl font-upper;
}

.gubers-scroll > div {
  display: block !important;
}

.period-scroll > div {
  display: flex !important;
  flex-direction: column;
}

.header-shadow{
  box-shadow: 0 4px 4px -4px #A3A3A3;
}

.scroll-invisible {
  scrollbar-width: none;
  -ms-overflow-style: none;  
}

.scroll-invisible::-webkit-scrollbar {
  display: none; 
}


/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  padding-left: 6px;
  background: #ffffff;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 4px;
}

/*
  .custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--blue) #ffffff;
  border-radius: 4px;
}
  */

.swiper-pagination-bullet {
  @apply w-2 h-2 md:w-3 md:h-3 bg-white opacity-100 mx-2 md:mx-3 !important; /* Размер и цвет */
}

.swiper-pagination-bullet-active {
  @apply bg-blue !important; /* Цвет активного индикатора */
}

.swiper-next {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  z-index: 1;
  background-color: transparent;
}

.swiper-prev{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  z-index: 1;
  background-color: transparent;
}

@keyframes typing {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.typing-animation::after {
  content: '...';
  display: inline-block;
  animation: typing 1.5s steps(3, end) infinite;
}

